#plot {
    display: inline-block;
    /*margin: 100px;*/
    /*padding: 100px;*/
    border: 2px solid black;
    vertical-align: top;
}

.heatmaps {
    display: flex;
    /*display: inline-block;*/
    /*margin: 100px;*/
    /*padding: 100px;*/

}

#hmap_dense1{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 30px;
}

#hmap_dense2, #hmap_softmax{
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

#wrapper{
    margin: 0;
    padding: 0;
    display: flex;
}


div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}



/*#wrapper {*/
/*    width: 500px;*/
/*    border: 1px solid black;*/
/*    overflow: hidden; !* will contain if #first is longer than #second *!*/
/*}*/
/*#plot {*/
/*    width: 300px;*/
/*    float:left; !* add this *!*/
/*    border: 1px solid red;*/
/*}*/
/*#my_dataviz {*/
/*    border: 1px solid green;*/
/*    overflow: hidden; !* if you don't want #second to wrap below #first *!*/
/*}*/