#plot {
    display: inline-block;
    /*margin: 100px;*/
    /*padding: 100px;*/
    border: 2px solid black;
    vertical-align: top;
}

#my_dataviz {
    display: inline-block;
    /*margin: 100px;*/
    /*padding: 100px;*/
}

#wrapper{
    margin: 0;
    padding: 0;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}



/*#wrapper {*/
/*    width: 500px;*/
/*    border: 1px solid black;*/
/*    overflow: hidden; !* will contain if #first is longer than #second *!*/
/*}*/
/*#plot {*/
/*    width: 300px;*/
/*    float:left; !* add this *!*/
/*    border: 1px solid red;*/
/*}*/
/*#my_dataviz {*/
/*    border: 1px solid green;*/
/*    overflow: hidden; !* if you don't want #second to wrap below #first *!*/
/*}*/