<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Neural net viz</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <div id="wrapper">
        <div id="plot"></div>
        <div class="heatmaps">
            <div id="hmap_dense1"></div>
            <div id="hmap_dense2"></div>
            <div id="hmap_softmax"></div>
        </div>
    </div>
    <script src="static/js/globals.js"></script>
    <script src="static/js/left_window.js"></script>
    <script src="static/js/hmap_softmax.js"></script>
    <script src="static/js/hmap_dense1.js"></script>
    <script src="static/js/hmap_dense2.js"></script>
</body>
</html>